.board {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 80px);
  width: 801px;
  height: 801px;
  background-color: rgba(30, 143, 255, 0.116);

  .position {
    background-color: crimson;
    color: crimson;
    font-size: 36px;
  }
}
