.upper-button {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  padding: 0;

  img {
    margin: 5px;
    width: 48px;
    height: 48px;

    &:hover {
      width: 58px;
      height: 58px;
    }
  }
}
