.card {
  background: #222333cc;
  width: 300px;
  padding: 20px;
  border-radius: 1rem;
  display: flex;

  h3 {
    color: aliceblue;
  }

  p {
    color: rgb(138, 138, 138);
  }

  img {
    width: 150px;
    height: 150px;
    margin: 15px;
  }

  .text-container {
    background: #222333cc;
    padding: 0 10px 10px 10px;
    border-radius: 1rem;
  }

  .close-container {
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    padding-right: 20px;
    margin-top: -10px;

    button {
      background: none;
      border: none;
      color: aliceblue;
      cursor: pointer;
    }
  }
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.664);

  .bot-info-card {
    width: 400px;
  }
}
