.button {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 1rem;
}

.ghost {
  border: 1px dashed aliceblue;
  background: none;
  color: aliceblue;

  &:hover {
    background: aliceblue;
    color: #222333;
  }
}

.alter-ghost {
  border: 1px dashed #222333 !important;
  background: none;
  color: #222333 !important;

  &:hover {
    background: #222333 !important;
    color: aliceblue !important;
  }
}

.primary {
  background: #222333;
  color: aliceblue;
  border: 1px solid #1d1d1d;

  &:hover {
    background: aliceblue;
    color: #222333;
  }
}

.absolute {
  position: absolute !important;
}

.flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.ease-transition {
  transition: all 200ms ease !important;
  * {
    transition: all 200ms ease !important;
  }
}

.small-margin {
  margin: 10px !important;
}